*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    width: 200px;
    height: 150px;
    color: white;
    background-color: grey;
    margin: 50px 50px;
    text-align: center;
    padding-top: 50px;
    transition: background-color 1s;
}
div:hover{
    background-color: rgb(10, 84, 174);
}