*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color: green;
padding-top:0px ;
width: 150px;
height: 100px;
margin-top: 50px;
margin-left: 50px;
}
div:hover{
    transform: rotate(45deg);
}
