*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.post-container{
    width: 400px;
}
.post-container img {
    width: 100%;
}
.post-container h3 {
    padding-left: 15px;
    border-left:solid orangered 5px ;
    font-size: 30px;
    margin-bottom:10px ;
}
.post-container div a {
    font-size: 25px;
    color: rgb(95, 93, 93);
    text-decoration: none;
}
.post-container div {
    margin-bottom: 15px;
}
.post-container p {
margin-bottom:20px ;
color: rgb(210, 203, 203);
}
.post-container ul li {
    border-top :2px solid rgb(207, 201, 201);
    padding-bottom: 15px;
    padding-top: 15px;
font-weight: bold;
}